<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Esse site foi criado pro Daniel Souza. Ele usa dados do mapbox.com e darksky.net</p>
        <img class="portrait" src="img/robo2.jpg" alt="">
    </div>

    
    {{>footer}}
</body>
</html>