<!DOCTYPE html>
<html lang="en">
<head>    
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clima Hoje</title>
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <p>Use esse site para buscar a previsão do tempo.</p>

        <form>
            <input placeholder="Localização">
            <button>Buscar</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
      
    {{>footer}}

    <script src="js/app.js"></script>
</body>

</html>